
.gradle/
build/

local.properties
.idea/
*.jar
**/*.iml
/verbosesdk/CopyTo GradlePropertiesForRelease.txt
verbosesdk/key_verbose_sdk.gpg
/CopyToGradlePropertiesForRelease.txt
verbosesdk/libs/
verbosesdk/src/androidTest/
verbosesdk/src/main/res/drawable/
